{% load static %}

<nav class="navbar navbar-expand-lg bg-light"> 
    <div class="container-fluid"> 
        <a class="navbar-brand" href="#">Menu:</a> 
        <button class="navbar-toggler" type="button" data-bs-
        toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle
         navigation"> 
            <svg class="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg" width="16" 
            height="16" fill="var(--color-text1)" viewBox="0 0 16 16"> 
            <path fill-rule="evenodd" 
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 
            .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" /> 
        
            </svg> 
        
        </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                    <li class="nav-item"> 
                        <a class="nav-link active" aria-current="page" href=""> 
                            <span> 
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="30" 
                                height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
                                stroke-linecap="round" stroke-linejoin="round"> 
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> 
                                <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline> 
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path> 
                                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path> 
                            </svg> 
                        </span> 
                        Inicio 
                    </a> 
                </li> 
                
                {% if user.id is not None %} 
                <li class="nav-item"> 
                    <a class="nav-link" href="#"> 
                        <span> 
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-asterisk"
































































































